
@{
	ViewBag.Title = "Learn Yoga";
	Layout = "~/Views/_MyLayoutPage.cshtml";
}

<section class="sectoion-100px yoga">
	<div class="jumbotron">
		<div class="title">
			<h4>LEARN BASIC YOGA POSTURES SITTING AT HOME</h4>
			<p>Our system uses your webcam to make sure you get the yoga postures right</p>
			<p>Stand infront of the camera and try to replicate the postures</p>
		</div>
	</div>
</section>

<iframe src="https://pridemelbsports.netlify.app/" frameborder="0" width="1440" height="1080" allow="microphone;camera;midi;encrypted-media;"></iframe>
