
@{
    ViewBag.Title = "Leanr Yoga";
    Layout = "~/Views/_MyLayoutPage.cshtml";
}

<section class="sectoion-100px yoga">
	<div class="jumbotron">
		<div class="title">
			<h4>WHAT DO YOU WANT TO DO TODAY?</h4>
			<p>Read through a few scenarios below to know more about your rights in Sports</p>
			<p>If you want to report an incident or tell us how you feel, click on the below button</p>
			<p><a class="button button-secondary button-pipaluk" href='@Url.Action("Create", "Reporting")'>Report Incident &raquo;</a></p>
		</div>
	</div>
</section>

<iframe src="https://pridemelbsports.netlify.app/" frameborder="0" width="1920" height="1080" allow="microphone;camera;midi;encrypted-media;"></iframe>