<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/animate.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/responsive.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
	<a href="~/fonts/fontawesome-webfont.eot"></a>
	<a href="~/fonts/fontawesome-webfont.ttf"></a>
	<a href="~/fonts/fontawesome-webfont.woff"></a>
	<a href="~/fonts/fontawesome-webfont.woff2"></a>
	<a href="~/fonts/FontAwesome.otf"></a>
	<a href="~/fonts/glyphicons-halflings-regular.eot"></a>
	<a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
	<a href="~/fonts/glyphicons-halflings-regular.woff"></a>
	<a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
	<a href="~/fonts/montserrat-bold-webfont.eot"></a>
	<a href="~/fonts/montserrat-bold-webfont.ttf"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff2"></a>
	<a href="~/fonts/montserrat-hairline-webfont.eot"></a>
	<a href="~/fonts/montserrat-hairline-webfont.ttf"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff2"></a>
	<a href="~/fonts/montserrat-light-webfont.eot"></a>
	<a href="~/fonts/montserrat-light-webfont.ttf"></a>
	<a href="~/fonts/montserrat-light-webfont.woff"></a>
	<a href="~/fonts/montserrat-light-webfont.woff2"></a>
	<a href="~/fonts/montserrat-regular-webfont.eot"></a>
	<a href="~/fonts/montserrat-regular-webfont.ttf"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff2"></a>
	<link href="~/fonts/montserrat-fonts.css" rel="stylesheet" />
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/counter.js"></script>
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/jquery.isotope.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/own-menu.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="main-wrapper">
			<header class="main-header">
				<div class="container-fuild">
					<div class="logo"> <a href="#."> <img src="~/images/logo.png" alt="Sprint Logo"></a> </div>

					<!-- Nav -->
					<nav>
						<ul id="ownmenu" class="ownmenu">
							<li class="active">
								<a href="index.html"> HOME</a>
								<ul class="dropdown">
									<li><a href="index.html">HOME 1</a></li>
									<li><a href="index-2.html">HOME 2</a></li>
									<li><a href="index-3.html">HOME 3</a></li>
								</ul>
							</li>
							<li>
								<a href="index.html"> Pages</a>
								<ul class="dropdown">
									<li><a href="index.html">HOME</a></li>
									<li><a href="index-2.html">HOME</a></li>
									<li><a href="index-3.html">HOME</a></li>
									<li><a href="about.html">about us</a></li>
									<li><a href="services.html">services</a></li>
									<li><a href="portfolio-1.html">portfolio 1</a></li>
									<li><a href="portfolio-2.html">portfolio 2</a></li>
									<li><a href="portfolio-detail.html">portfolio Detail</a></li>
									<li><a href="blog.html">blog</a></li>
									<li><a href="blog-single.html">blog Single</a></li>
									<li><a href="contact.html">contact us</a></li>
								</ul>
							</li>
							<li><a href="about.html">about us</a></li>
							<li><a href="services.html">services</a></li>
							<li><a href="portfolio-1.html">portfolio</a></li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="contact.html">contact us</a></li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>
	<div>
		@RenderBody()
	</div>
	<!--======= FOOTER UP =========-->
	<div id="wrap">
		<div id="main-wrapper">
			<section class="footer-up">
				<div class="col-sm-6">
					<div class="work">
						<i class="ion-map"></i>
						<p>
							09 Design Street, Downtown <br>
							victoria, Australia
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="contact">

						<!--======= Social Icon =========-->
						<ul class="social_icons">
							<li class="facebook"><a class="facebook" href="#."><i class="fa fa-facebook"></i></a></li>
							<li class="twitter"><a class="twitter" href="#."><i class="fa fa-twitter"></i></a></li>
							<li class="linkedin"><a class="linkedin" href="#."><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<p>Copyright © 2015 - All Rights Reserved</p>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>
